[submodule "task-tracker"]
	path = task-tracker
	url = https://github.com/nabobery/Task-Tracker
[submodule "github-user-activity"]
	path = github-user-activity
	url = https://github.com/nabobery/GitHub-User-Activity
[submodule "expense-tracker"]
	path = expense-tracker
	url = https://github.com/nabobery/Expense-Tracker
[submodule "number-guessing-game"]
	path = number-guessing-game
	url = https://github.com/nabobery/number-guessing-game.git
[submodule "weather-api"]
	path = weather-api
	url = https://github.com/nabobery/weather-api.git
[submodule "blogging-platform-api"]
	path = blogging-platform-api
	url = https://github.com/nabobery/blogging-platform-api
[submodule "todo-list-api"]
	path = todo-list-api
	url = https://github.com/nabobery/todo-list-api.git
[submodule "caching-proxy"]
	path = caching-proxy
	url = https://github.com/nabobery/caching-proxy.git
[submodule "url-shortening-service"]
	path = url-shortening-service
	url = https://github.com/nabobery/url-shortening-service
[submodule "markdown-note-taking-app"]
	path = markdown-note-taking-app
	url = https://github.com/nabobery/markdown-note-taking-app.git
